@HOMEPAGE-------------------------------------

.title {
	font-size: 5em;
	text-align: center;
	font-weight: bold;
}

.absurdo {
	padding-left: 400;<html>

<meta charset="UTF-8">
<link href="./estilos/O Absurdo.css" rel="stylesheet">

<head>
    <div class="absurdo">O Absurdo<span style="color: red;">!</span></div>
    <hr width="1200px">

    <p class="menu">|  HOME  |</p>
    <p class="menu">|  POLÍTICA  |</p>
    <p class="menu">|  ECONOMIA  |</p>
    <p class="menu">|  ENTRETENIMENTO  |</p>
    <p class="menu">|  ESPORTE  |</p>
    <br>        
    <hr width="1200px">

</head> 

<body>      
    <div class="align img">
        <div class="zoom img">
            <a href="./páginas/Página_01.html">
                <img src="./Imagens/teste_01.jpg" width="600px" height="380px">
            </a>
        </div>
    </div>

    <p class="main_title">
        <a href="./páginas/Página_01.html">
            Banho de sangue metafórico ilustra situação do atual governo
        </a>
    </p>

    <p class="sub_01">
        Oposição massacra Bolsonaristas que ainda se apoiam no extremismo para se manter no poder; Fabrício Queiroz é encontrado em propriedade de advogado de Fávio Bolsonaro; Sara Winter passará o próximo inverno na cadeia;
    </p>
            
    <div class="thumbs">
        <div class="zoom img">
            <a href="./páginas/Página_02.html">
                <img src="./Imagens/imagem_02.jpeg" width="100px"height="100px">
            </a>
        </div>
    </div>

    <p class="meta_01">
        <a href="./páginas/Página_02.html">
            "Puta que pariu, tá ok!?", dispara Bolsonato após saber da prisão de Queiroz;
        </a>
    </p>

    <div class="thumbstwo">
        <div class="zoom img">
            <a href="./páginas/Página_03.html">
                <img src="./Imagens/imagem_09.jpeg" width="100px"height="100px">
            </a>
        </div>
    </div>

    <p class="meta_01">
        <a href="./páginas/Página_03.html">
            "Pobre tem mais é que morrer!", declara Paulo Guedes sobre auxílio emergencial
        </a>
    </p>

    <br>
    <hr width="1200px">
    
    <div class="bloco img">
        <div class="zoom img">
            <a href="./páginas/Página_04.html">
                <img src="./Imagens/imagem_03.jpeg" width="400px" height="224px">
            </a>
        </div>
                            
        <div class="zoom img">
            <a href="./páginas/Página_05.html">
                <img src="./Imagens/imagem_04.jpeg" width="400px" height="224px">
            </a>
        </div>

        <div class="zoom img">
            <a href="./páginas/Página_06.html">
                <img src="./Imagens/imagem_05.jpg" width="400px" height="224px">
            </a>
        </div>
    </div>

    <p class="conteudo">
        <a href="./páginas/Página_04.html">
        BLM: protestos em apoio a George Floyd se espalham pelo mundo
        </a>
    </p>

    <p class="conteudo">
        <a href="./páginas/Página_05.html">
            POP: Anitta tem bunda imortalizada em escultura de bronze
        </a>
    </p>

    <p class="conteudo">
        <a href="./páginas/Página_06.html">
            Jogadores se perguntam se conseguirão disputar campeonato de máscara
        </a>
    </p>

    <div class="bloco2 img">
        <div class="zoom img">
            <a href="./páginas/Página_07.html">
                <img src="./Imagens/imagem_06.jpg" width="400px" height="224px">
            </a>
        </div>

        <div class="zoom img">
            <a href="./páginas/Página_08.html">
                <img src="./Imagens/imagem_07.jpg" width="400px" height="224px">
            </a>
        </div>

        <div class="zoom img">
            <a href="./páginas/Página_09.html">
                <img src="./Imagens/imagem_08.jpg" width="400px" height="224px">
            </a>
        </div>
    </div>

    <p class="conteudo2">
        <a href="./páginas/Página_07.html">
            Empresas lucram com desgraça alheia na pandemia
        </a>
    </p>

    <p class="conteudo2">
        <a href="./páginas/Página_08.html">
            Sem rivotril, Olavo de Carvalho surta e recomenda uso de crack
        </a>
    </p>

    <p class="conteudo2">
        <a href="./páginas/Página_09.html">
            Caio Copolla admite fantasias sexuais com Jair Bolsonaro
        </a>
    </p>

    <br>
    <br>

    <hr width="1200px">
    <p class="rodape2">
        <b>
            O Absurdo!
        </b>
    </p>

    <p class="rodape">
        Notícias verdadeiras que parecem fake
    </p>

    <hr width="1200px">
    <br>
    <br>
    
    </body>

</html>

    font-size: 100;
    font-weight: bold;
}

.main_title {
	font-size: 50px;
    font-weight: bold;
    max-width: 600px;
    float: left;
    margin: auto;
    padding-left: 30;
    padding-top: 30px;
}

.sub_01 {
	font-size: 30px;
    line-height: 1.2em;
    max-width: 600px;
    margin-left: auto;
    margin-top: 10;
    float: left;
    padding-left: 30;	
}

.meta_01 {
	 font-size: 20;
    font-weight: bold;
    float: left;
    max-width: 475;
    padding-left: 15;
    padding-top: 15;
    padding-bottom: 50;
}

.align img{
	padding-left: 30px;
	padding-top: 30px;
	overflow: visible;
	display: inline;
	float: left;
	margin: auto;
}

.thumbs {
	padding-left: 30px;
	padding-top: 20;	
	overflow: visible;
	display: inline;
	float: left;
	margin: auto;
}

.thumbstwo {
	padding-left: 40;
	padding-top: 20;	
	overflow: visible;
	display: inline;
	float: left;
	margin: auto;
}

.bloco img {
	padding-left: 30px;
   padding-top: 20px;
   overflow: visible;
   display: inline;
   float: left;
   margin: auto;
}

.bloco2 img {
	 padding-left: 30px;
    padding-top: 50px;
    overflow: visible;
    display: inline;
    float: left;
    margin: auto;
    max-width: 400px;
    max-height: 224px;
}

.bloco3 img {
	 padding-left: 30px;
    padding-top: 50px;
    overflow: visible;
    display: inline;
    float: left;
    margin: auto;
    max-width: 400px;
    max-height: 224px;
}

.bloco4 img {
	 padding-left: 30px;
    padding-top: 50px;
    overflow: visible;
    display: inline;
    float: left;
    margin: auto;
    max-width: 400px;
    max-height: 224px;
}

.conteudo {
	 font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 20;
    margin-bottom: 5;
}

.conteudo2 {
	 font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 20;
    margin-bottom: 80;
    max-height: 100px;
}

.conteudo3 {
	 font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 20;
    margin-bottom: 5;
    line-height: 1em;
    max-height: 100px;
}

.conteudo4 {
	 font-size: 35px;
    font-weight: bold;
    padding-left: 30;
    padding-right: 40px;
    /* padding-top: 10px; */
    float: right;
    max-width: 400;
    display: inline;
    margin-top: 20;
    margin-bottom: 5;
    line-height: 1em;
    max-height: 100px;
}
    
.subsleft {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
}

.subsmiddle {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 35px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
}

.subsright {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
}

.subsleft2 {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 30px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
    margin-bottom: 100px;
}

.subsmiddle2 {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 35px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
    margin-bottom: 100px;
}

.subsright2 {
	 font-size: 25px;
    /* font-weight: bold; */
    padding-left: 40px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 10;
    margin-bottom: 100px;
}

.menu {
	 font-size: 20px;
    font-weight: lighter;
    padding-left: 120px;
    /* padding-top: 10px; */
    float: left;
    max-width: 400;
    display: inline;
    margin-top: 1;
    margin-bottom: 5;
    text-align: center;
 }
 
 @Páginas-------------------------------------
 
.h1 {
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
}

.corpo {
	max-width: 1000px;
	padding-left: 175;
	font-size: 25px;
	float: left;
	text-align: left;
	margin-top: 5;
}

.corpo2 {
	max-width: 1000px;
	padding-left: 175;
	font-size: 25px;
	float: left;
	text-align: left;
	min-inline-size: -webkit-fill-available;
}

.corpo3 {
	max-width: 1000px;
	padding-left: 175;
	font-size: 25px;
	float: left;
	text-align: left;
	/*min-inline-size: -webkit-fill-available;?*/
	padding-bottom: 125;
	margin-top: 5;
}

.featured {
	padding-left: 175px;
	padding-top: 30px;
	overflow: visible;
	display: inline;
	float: left;
	margin: auto;
}

.headings {
	 font-size: 60px;
    text-align: left;
    font-weight: bold;
    max-width: 1000px;
    margin-bottom: 15;
    padding-left: 175;
    line-height: 1em;
}

.descricao {
	font-size: 30px;
   text-align: left;
   font-weight: lighter;
   max-width: 1000px;
   margin-bottom: 15;
   margin-top: 10;
   padding-left: 175;
   line-height: 1em;
   color: #5f5f5f;
}

.legenda {
	font-size: 15px;
	float: left;
	text-align: left;
	padding-top: 0px;
	padding-left: 175;
	padding-bottom: 20;
	max-width: 1000px;
	font-style: italic;
}

.leiamais {
	font-size: 32px;
   font-weight: 600;
   margin: 10 0 5;
}

.leiamais1 img {
	padding-left: 175px;
   padding-top: 20px;
   overflow: visible;
   display: inline;
   float: left;
   margin: auto;
   max-width: 333px;
}

.leiamais2 img {
	padding-left: 33px;
   padding-top: 20px;
   overflow: visible;
   display: inline;
   float: left;
   margin: auto;
   max-width: 333px;
}

.leiamais3 img {
	padding-left: 33px;
   padding-top: 20px;
   overflow: visible;
   display: inline;
   float: left;
   margin: auto;
   max-width: 333px;
}
   
.leiamais_t1 {
	 font-size: 25px;
    font-weight: bold;
    padding-left: 175px;
    /* padding-top: 10px; */
    float: left;
    max-width: 300;
    display: inline;
    margin-top: 20;
    margin-bottom: 50;
}

.leiamais_t2 {
	 font-size: 25px;
    font-weight: bold;
    padding-left: 33px;
    /* padding-top: 10px; */
    float: left;
    max-width: 300;
    display: inline;
    margin-top: 20;
    margin-bottom: 50;
}

.leiamais_t3 {
	 font-size: 25px;
    font-weight: bold;
    padding-left: 33px;
    /* padding-top: 10px; */
    float: left;
    max-width: 300;
    display: inline;
    margin-top: 20;
    margin-bottom: 50;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    
}

a:hover {
	color: #404040;
}

/*-----RODAPÉ-----*/

.rodape {
	margin-top: 5;
	text-align: center;
	font-size: 15;
}

.rodape2 {
	 margin-top: 10;
    font-size: 20px;
    margin-bottom: 5;
    text-align: center;
}


-----ZOOM-----

.zoom {
	overflow: visible;
	display: inline;
}

.zoom img {
	max-width: 100%;
	transition: all 0.4s;
	opacity: 1;
}

.zoom:hover img {
	transform: scale(1.1);
	opacity: 1;
}
